body {
              font-family: 'Courier New', Courier, monospace;
              color: lightsalmon;
            
            }
            
            a {
              color: inherit;
            }