.Hello:link {
              color: bisque;
            }
            
            .Hello:hover {
              color: blue;
              font-family: 'Courier New', Courier, monospace;
              font-size: 20px;
            }
            
            .Hello:active {
              font-style: italic;
            }
            
            .Hello:visited {
              color: blue;
            }