body {
              font-family: Arial, Helvetica, sans-serif
            }
            
            .twitter {
              font-size: 50px;
              color: rebeccapurple;
              text-decoration: underline;
            }